In [102]:
import pandas as pd

df = pd.read_csv("Bookshelf-2025-12-27.csv")
df.head(10)

,Book Id,ISBN,Lexile Score,Bookshelf,Tags,Wishlist,Started Reading On,Ended Reading On,Pages Read,Read,...,Purchase Type,Purchase From,Purchase Price,Purchase Date,Transfer Type,Transfer place,Transfer Price,Transfer Date,Description,Date added
0,252363,9.780550e+12,NaN,My books,NaN,0,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,In the Pacific there is an island that looks l...,12/26/2025
1,277343,9.780620e+12,1000L,My books,NaN,0,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,This deluxe hardcover edition of J.R.R. Tolkie...,12/26/2025
2,4135332,9.780060e+12,NaN,My books,NaN,0,7/9/2025,7/9/2025,304,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,From theNew York Timesbestselling author ofThe...,7/9/2025
3,1513744,9.780400e+12,880L,My books,NaN,0,7/2/2025,7/5/2025,227,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Fans who love King Arthur's legend, Camelot, M...",7/9/2025
4,2400850,9.780400e+12,840L,My books,NaN,0,6/27/2025,7/1/2025,192,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fans of the King Arthur legend will love this ...,7/9/2025
5,9095,9.780140e+12,HL570L,My books,NaN,0,7/5/2025,7/8/2025,336,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Following the demise of bloodthirsty buccaneer...,7/9/2025
6,5352576,9.780590e+12,640L,My books,NaN,0,5/1/2025,5/3/2025,288,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,In her first novel since winning the Newbery M...,5/4/2025
7,7763007,9.781520e+12,590L,My books,NaN,0,4/27/2025,4/29/2025,320,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WINNER OF THE NEWBERY MEDAL • NEW YORK TIMES B...,4/29/2025
8,62344,9.780550e+12,NaN,My books,NaN,0,4/10/2025,4/12/2025,340,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Calpurnia Virginia Tate is eleven years old in...,4/12/2025
9,2166088,9.781450e+12,NaN,My books,NaN,0,2/28/2025,3/4/2025,256,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,In Virginia Hamilton’s Edgar Award–winning nov...,4/5/2025

In [103]:
df.shape

(32, 50)

In [104]:
df.tail(5)

,Book Id,ISBN,Lexile Score,Bookshelf,Tags,Wishlist,Started Reading On,Ended Reading On,Pages Read,Read,...,Purchase Type,Purchase From,Purchase Price,Purchase Date,Transfer Type,Transfer place,Transfer Price,Transfer Date,Description,Date added
27,63266,9.781440e+12,740L,My books,NaN,0,NaN,NaN,320,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Can an undercover nerd become a superstar agen...,3/4/2025
28,715720,9.781480e+12,730L,My books,NaN,0,NaN,NaN,384,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ben Ripley enrolls in ski school, where the sl...",3/4/2025
29,980659,9.781530e+12,820L,My books,NaN,0,NaN,NaN,352,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Superspy middle schooler Ben Ripley faces the ...,3/4/2025
30,1439906,9.781480e+12,HL820L,My books,NaN,0,NaN,NaN,352,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ben goes undercover in the White House to take...,3/4/2025
31,16999499,9.781460e+12,\n1050L,My books,NaN,0,2/12/2025,2/12/2025,104,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,How do entrepreneurs get ideas for a new busin...,3/4/2025

In [105]:
df.columns

Index(['Book Id', 'ISBN', 'Lexile Score', 'Bookshelf', 'Tags', 'Wishlist',
       'Started Reading On', 'Ended Reading On', 'Pages Read', 'Read',
       'My Rating', 'Review', 'Short note', 'Advanced note', 'Signed',
       'Condition', 'Number of copies', 'Quotes', 'Flashcards', 'Title',
       'Subtitle', 'Language', 'Categories', 'Authors', 'Illustrators',
       'Translators', 'Editors', 'Narrators', 'Photographers', 'Publisher',
       'Page Count', 'Published At', 'Format', 'Edition', 'Series', 'Volume',
       'Loan Type', 'Loan Name', 'Loan Start Date', 'Loan Due Date',
       'Purchase Type', 'Purchase From', 'Purchase Price', 'Purchase Date',
       'Transfer Type', 'Transfer place', 'Transfer Price', 'Transfer Date',
       'Description', 'Date added'],
      dtype='object')

In [106]:
df.describe()

,Book Id,ISBN,Tags,Wishlist,Pages Read,Read,My Rating,Review,Short note,Advanced note,...,Loan Start Date,Loan Due Date,Purchase Type,Purchase From,Purchase Price,Purchase Date,Transfer Type,Transfer place,Transfer Price,Transfer Date
count,3.200000e+01,3.200000e+01,0.0,32.0,32.000000,32.000000,19.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,4.492903e+06,9.782126e+12,NaN,0.0,247.437500,0.937500,4.342105,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.834645e+06,4.418835e+09,NaN,0.0,122.906715,0.245935,0.928748,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,7.200000e+01,9.780010e+12,NaN,0.0,0.000000,0.000000,2.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.710980e+05,9.780512e+12,NaN,0.0,220.000000,1.000000,4.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.783484e+06,9.781445e+12,NaN,0.0,296.000000,1.000000,5.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,5.955184e+06,9.781530e+12,NaN,0.0,337.000000,1.000000,5.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.724778e+07,9.798890e+12,NaN,0.0,384.000000,1.000000,5.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df = df.dropna(axis=1, how='all')
df=df.drop(["Book Id","ISBN"],axis=1)

In [116]:
df.shape

(32, 25)

In [117]:
df.dtypes

Lexile Score           object
Bookshelf              object
Wishlist                int64
Started Reading On     object
Ended Reading On       object
Pages Read              int64
Read                    int64
My Rating             float64
Signed                  int64
Number of copies        int64
Title                  object
Subtitle               object
Language               object
Categories             object
Authors                object
Illustrators           object
Narrators              object
Publisher              object
Page Count            float64
Published At           object
Format                 object
Series                 object
Volume                float64
Description            object
Date added             object
dtype: object

In [118]:
import pandas as pd

# -----------------------------
# 1. Convert ID-like columns to string
# -----------------------------
id_cols = ['ISBN', 'Book Id']
for col in id_cols:
    if col in df.columns:
        df[col] = df[col].astype(str)

# -----------------------------
# 2. Convert date columns to datetime
# -----------------------------
date_cols = [
    'Loan Start Date', 'Loan Due Date',
    'Purchase Date', 'Transfer Date'
]

for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

# -----------------------------
# 3. Convert true numeric columns properly
# -----------------------------
true_numeric = [
    'Pages Read', 'Page Count', 'My Rating', 'Volume',
    'Purchase Price', 'Transfer Price'
]

for col in true_numeric:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# -----------------------------
# 4. Fill NaN values in numeric columns
# -----------------------------
fill_rules = {
    'Page Count': 0,
    'Pages Read': 0,
    'Volume': 1,
    'My Rating': df['My Rating'].mean() if 'My Rating' in df.columns else None,
    'Purchase Price': 0,
    'Transfer Price': 0
}

for col, value in fill_rules.items():
    if col in df.columns:
        df[col] = df[col].fillna(value)

# -----------------------------
# 5. Recalculate numeric columns correctly
# -----------------------------
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

print("Final numeric columns:", list(num_cols))
print("Count:", len(num_cols))

Final numeric columns: ['Wishlist', 'Pages Read', 'Read', 'My Rating', 'Signed', 'Number of copies', 'Page Count', 'Volume']
Count: 8

In [119]:
# Identify numerical columns
cols = df.select_dtypes(include=["int64","float64"]).columns
print("Numerical columns:", list(num_cols))
print("Count:", len(num_cols))

Numerical columns: ['Wishlist', 'Pages Read', 'Read', 'My Rating', 'Signed', 'Number of copies', 'Page Count', 'Volume']
Count: 8

In [120]:
df[cols].isna().sum()

Wishlist            0
Pages Read          0
Read                0
My Rating           0
Signed              0
Number of copies    0
Page Count          0
Volume              0
dtype: int64

In [121]:
# Identify Categorical Columns
cat_cols = df.select_dtypes(include=["object"]).columns
print("Categorical columns:", list(cat_cols))
print("Count:", len(cat_cols))

Categorical columns: ['Lexile Score', 'Bookshelf', 'Started Reading On', 'Ended Reading On', 'Title', 'Subtitle', 'Language', 'Categories', 'Authors', 'Illustrators', 'Narrators', 'Publisher', 'Published At', 'Format', 'Series', 'Description', 'Date added']
Count: 17

In [122]:
df[cat_cols] = df[cat_cols].fillna("Unknown")

In [123]:
df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=False)

In [124]:
df_encoded.head()
#df_encoded.shape

,Wishlist,Pages Read,Read,My Rating,Signed,Number of copies,Page Count,Volume,Lexile Score_\n1050L,Lexile Score_1000L,...,Date added_3/17/2025,Date added_3/20/2025,Date added_3/23/2025,Date added_3/24/2025,Date added_3/4/2025,Date added_4/12/2025,Date added_4/29/2025,Date added_4/5/2025,Date added_5/4/2025,Date added_7/9/2025
0,0,0,0,4.342105,0,1,177.0,1.0,False,False,...,False,False,False,False,False,False,False,False,False,False
1,0,0,0,4.342105,0,1,277.0,1.0,False,True,...,False,False,False,False,False,False,False,False,False,False
2,0,304,1,4.500000,0,1,304.0,1.0,False,False,...,False,False,False,False,False,False,False,False,False,True
3,0,227,1,3.500000,0,1,227.0,1.0,False,False,...,False,False,False,False,False,False,False,False,False,True
4,0,192,1,2.500000,0,1,192.0,1.0,False,False,...,False,False,False,False,False,False,False,False,False,True

In [125]:
# Identify boolean columns##
bool_cols = df.select_dtypes(include=["bool"]).columns
print("Boolean columns:", list(bool_cols))
print("Count:", len(bool_cols))

Boolean columns: []
Count: 0

In [126]:
# Identify date columns
date_cols = df.select_dtypes(include=["datetime64[ns]"]).columns
print("Date columns:", list(date_cols))
print("Count:", len(date_cols))

Date columns: []
Count: 0

In [127]:
df_encoded.tail()

,Wishlist,Pages Read,Read,My Rating,Signed,Number of copies,Page Count,Volume,Lexile Score_\n1050L,Lexile Score_1000L,...,Date added_3/17/2025,Date added_3/20/2025,Date added_3/23/2025,Date added_3/24/2025,Date added_3/4/2025,Date added_4/12/2025,Date added_4/29/2025,Date added_4/5/2025,Date added_5/4/2025,Date added_7/9/2025
27,0,320,1,4.342105,0,1,320.0,1.0,False,False,...,False,False,False,False,True,False,False,False,False,False
28,0,384,1,4.342105,0,1,384.0,4.0,False,False,...,False,False,False,False,True,False,False,False,False,False
29,0,352,1,4.342105,0,1,352.0,8.0,False,False,...,False,False,False,False,True,False,False,False,False,False
30,0,352,1,4.342105,0,1,352.0,1.0,False,False,...,False,False,False,False,True,False,False,False,False,False
31,0,104,1,4.000000,0,1,104.0,1.0,True,False,...,False,False,False,False,True,False,False,False,False,False

In [128]:
df_encoded.shape

(32, 255)

In [129]:
df_final = pd.concat([df[cols], df_encoded], axis=1)

In [130]:
df_final

,Wishlist,Pages Read,Read,My Rating,Signed,Number of copies,Page Count,Volume,Wishlist,Pages Read,...,Date added_3/17/2025,Date added_3/20/2025,Date added_3/23/2025,Date added_3/24/2025,Date added_3/4/2025,Date added_4/12/2025,Date added_4/29/2025,Date added_4/5/2025,Date added_5/4/2025,Date added_7/9/2025
0,0,0,0,4.342105,0,1,177.0,1.0,0,0,...,False,False,False,False,False,False,False,False,False,False
1,0,0,0,4.342105,0,1,277.0,1.0,0,0,...,False,False,False,False,False,False,False,False,False,False
2,0,304,1,4.500000,0,1,304.0,1.0,0,304,...,False,False,False,False,False,False,False,False,False,True
3,0,227,1,3.500000,0,1,227.0,1.0,0,227,...,False,False,False,False,False,False,False,False,False,True
4,0,192,1,2.500000,0,1,192.0,1.0,0,192,...,False,False,False,False,False,False,False,False,False,True
5,0,336,1,4.500000,0,1,336.0,1.0,0,336,...,False,False,False,False,False,False,False,False,False,True
6,0,288,1,5.000000,0,1,288.0,1.0,0,288,...,False,False,False,False,False,False,False,False,True,False
7,0,320,1,5.000000,0,1,320.0,1.0,0,320,...,False,False,False,False,False,False,True,False,False,False
8,0,340,1,5.000000,0,1,340.0,1.0,0,340,...,False,False,False,False,False,True,False,False,False,False
9,0,256,1,4.000000,0,1,256.0,1.0,0,256,...,False,False,False,False,False,False,False,True,False,False
10,0,0,1,5.000000,0,1,0.0,1.0,0,0,...,False,False,False,False,False,False,False,True,False,False
11,0,256,1,2.500000,0,1,256.0,1.0,0,256,...,False,False,False,False,False,False,False,True,False,False
12,0,0,1,5.000000,0,1,0.0,1.0,0,0,...,False,False,False,False,False,False,False,True,False,False
13,0,0,1,4.342105,0,1,0.0,3.0,0,0,...,False,False,False,True,False,False,False,False,False,False
14,0,304,1,5.000000,0,1,304.0,1.0,0,304,...,False,False,True,False,False,False,False,False,False,False
15,0,224,1,5.000000,0,1,224.0,1.0,0,224,...,False,False,True,False,False,False,False,False,False,False
16,0,208,1,2.500000,0,1,208.0,2.0,0,208,...,False,False,True,False,False,False,False,False,False,False
17,0,320,1,4.500000,0,1,320.0,1.0,0,320,...,False,True,False,False,False,False,False,False,False,False
18,0,288,1,5.000000,0,1,288.0,2.0,0,288,...,True,False,False,False,False,False,False,False,False,False
19,0,279,1,5.000000,0,1,279.0,1.0,0,279,...,False,False,False,False,False,False,False,False,False,False
20,0,232,1,5.000000,0,1,232.0,1.0,0,232,...,False,False,False,False,False,False,False,False,False,False
21,0,352,1,4.342105,0,1,352.0,1.0,0,352,...,False,False,False,False,True,False,False,False,False,False
22,0,320,1,4.342105,0,1,320.0,7.0,0,320,...,False,False,False,False,True,False,False,False,False,False
23,0,352,1,4.342105,0,1,352.0,9.0,0,352,...,False,False,False,False,True,False,False,False,False,False
24,0,352,1,4.342105,0,1,352.0,12.0,0,352,...,False,False,False,False,True,False,False,False,False,False
25,0,304,1,4.342105,0,1,304.0,11.0,0,304,...,False,False,False,False,True,False,False,False,False,False
26,0,352,1,4.342105,0,1,352.0,6.0,0,352,...,False,False,False,False,True,False,False,False,False,False
27,0,320,1,4.342105,0,1,320.0,1.0,0,320,...,False,False,False,False,True,False,False,False,False,False
28,0,384,1,4.342105,0,1,384.0,4.0,0,384,...,False,False,False,False,True,False,False,False,False,False
29,0,352,1,4.342105,0,1,352.0,8.0,0,352,...,False,False,False,False,True,False,False,False,False,False
30,0,352,1,4.342105,0,1,352.0,1.0,0,352,...,False,False,False,False,True,False,False,False,False,False
31,0,104,1,4.000000,0,1,104.0,1.0,0,104,...,False,False,False,False,True,False,False,False,False,False

In [131]:
df_final.shape

(32, 263)

In [132]:
df_final.to_csv("cleaned_bookshelf.csv", index=False)